body {
    background-image: url(wallpaper.jpg);
    background-size: 1550px 750px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.outline {
    width: 35%;
    overflow: hidden;
    border: 4px solid black;
    box-sizing: border-box;
    margin-left: 40px;
}

.outline2 {
    width: 30%;
    overflow: hidden;
    border: 4px solid black;
    box-sizing: border-box;
    margin-left: 950px;
    margin-top: -315px;
}

.galari {
    position: relative;
    width: 400%;
    left: 0%;
    animation: 16s slayt infinite;
}

    .galari img {
        width: 25%;
        float: left;
    }

@keyframes slayt {
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%}
    45% {left: -100%}
    50% {left: -200%}
    70% {left: -200%}
    75% {left: -300%}
    95% {left: -300%    }
}

.menu-bar {
    text-align: center;
    background: #00035ca6;
}

    .menu-bar ul {
        display: inline-flex;
        list-style: none;
    }

        .menu-bar ul li {
            width: 155px;
            margin: 12px;
            padding: 15px;
        }

            .menu-bar ul li a {
                text-decoration: none;
                color: #fff;
            }

            .active, .menu-bar ul li:hover {
                background: #e8d585;
                border-radius: 8px;
            }

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #00035ca6;
    margin-top: 15px;
    margin-left: -10px;
    font-size: 12px;
    border-radius: 2px;
}

    .menu-bar ul li:hover .sub-menu-1 ul {
        display: block;
        border-radius: 2px;
    }

        .menu-bar ul li:hover .sub-menu-1 ul li {
            width: 123px;
            padding: 8px;
            border-bottom: 1px dotted #e8d585;
            border-radius: 2px;
            cursor: pointer;
        }

            .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
                color: darkgreen;
            }

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -36px;
    margin-left: 116px;
    background-color: #00035ca6;
}
